{% extends "base.html" %}
{% block title %}Training Load{% endblock %}

{% block body_attrs %}
data-days="{{ days }}"
{% endblock %}

{% block content %}
<h1>Training load (ATL / CTL / Form)</h1>

<div class="card chart-card chart-span-2">
  <b>TrainingPeaks-style load</b>
  <div id="training_load_chart" class="chart-lg"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
{% endblock %}